body{
    background-color: rgb(6, 36, 125);
}
.zzzz{
    background-color: rgb(56, 56, 60);
}


header{
    color: #ffffff;
    background-color: blue(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 0 10px  black;
}

li a::after{
    position: absolute;
    left: 0;
    bottom: -6px;
    content: "";
    width: 0%;
    height: 2px;
    background-color: black;
    transition: 0.5s ease;
}
nav li a:hover::after{
    width: 100%
}

.img2{
  
    width: 60px;
    height: 60px;
}
.img1{
    margin-left: 5%;
    width: 100px;
    height: 100px;
}

h1{
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    text-align: center;
    list-style: none;
    display: inline;
}
li a {
    text-decoration: none;
    display: inline;
    color: rgb(255, 255, 255);
    transition: color 1s;
    position: relative;
}

li a:hover {
    color: rgb(0, 0, 0);

}

nav{
    background-color: rgb(37, 37, 175);
    margin-top: 20px;
    padding: 8px 8px;
}

.titre{
    color: rgb(19, 19, 189);
}
.formations{
    display: flex;
    background-color: white;
    
}
/*.card-body{
justify-content: space-between;
}*/
.contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
h2{
    
    text-align: center;
}

.zone{
    display: inline;
    background-color: white;
    
}

.zone{
 
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;

}